{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Always force latest IE rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="description" content="Django is a responsive creative template">
		<meta name="keywords" content="portfolio, personal, corporate, business, parallax, creative, agency">

		<!-- Favicon -->

		<link rel="shortcut icon" href="{% static 'img/portfolio/Favicon.jpg' %}"/>


		<!-- Title -->
		<title>Portfolio</title>

		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet">

		<!-- Font awesome Core CSS -->
		<link rel="stylesheet" href="{%static 'Stylesheets/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{%static 'Stylesheets/et-line.css' %}">

		<!-- bootstrap css -->
		<link rel="stylesheet" href="{%static 'Stylesheets/bootstrap.min.css' %}">

		<!-- magnific-popup CSS -->
		<link rel="stylesheet" href="{%static 'Stylesheets/magnific-popup.css' %}">

		<!-- owl carousel CSS -->
		<link rel="stylesheet" href="{%static 'Stylesheets/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{%static 'Stylesheets/owl.theme.default.min.css' %}">

		<!-- Custom style CSS -->
		<link rel="stylesheet" href="{%static 'Stylesheets/style.css' %}">

		<!-- responsive CSS -->
		<link rel="stylesheet" href="{%static 'Stylesheets/responsive.css' %}">

		<!--[if lt IE 9]-->
		<script src="{%static 'js/html5shiv.min.js' %}"></script>
		<!--[endif]-->
	</head>
	<body>

		<!-- ====== Preloader ======  -->
	    <div class="loading">
			<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
		</div>
		<!-- ======End Preloader ======  -->

		<main>

			<!-- ====== Navigation ======  -->
			<nav class="navbar">
			  <div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <!-- logo -->
			      <a class="navbar-brand" href="#">Koome :  Koh-may</a>
			    </div>

			    <!-- Collect the nav links, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      
				  <!-- links -->
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#home" class="active">Home</a></li>
			        <li><a href="#about">About me</a></li>
			        <li><a href="#services">Skills</a></li>
			        <li><a href="#portfolio">Experience</a></li>
			        <li><a href="#clients">Projects</a></li>
			        <li><a href="#contact">Contact Me</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container -->
			</nav>
			<!-- ====== End Navgition ======  -->

			<!-- ====== Header ======  -->
			<header id="home" class="demo-3">
				<a class="player mb_YTPlayer" data-property="{videoURL:'https://www.youtube.com/watch?v=hpeYWdkUtcE',containment:'#home', showControls:false, autoPlay:true, zoom:0, loop:true, mute:false, startAt:0, opacity:1, quality:'default'}" id="video_1493031470664"></a>
					
					<div class="demo-3-overlay">
						<!-- header content -->
						<div class="caption v-middle text-center">
							<h3>I am</h3>
							<h1>Koome Mwiti</h1>
							<h4>I'm A <span>Software Engineer</span> </h4>
						</div>

						<div class="button-scroll" data-scrollTo="about"><span></span></div>
					</div>

				</div>
			</header>
			<!-- ====== End Header ======  -->

			<!-- ====== hero ======  -->
			<section id="about" class="hero section-padding">
				<div class="container">

					<div class="row">

						<!-- hero block -->
						<div class="hero-block">

					 		<!-- hero image -->
							<div class="col-md-4">
								<div class="hero-img">
									<img src="{%static 'img/hero.jpg' %}" alt="image">
								</div>
							</div>

							<div class="col-md-offset-1 col-md-6">
								<div class="hero-item">
									<h5 class="mb-20">Software Engineer</h5>
									<p class="mb-20"> Koome (Koh-may) Mwiti, is a Fullstack Software Engineer living in California. 
										He has been managing projects in various fields among them Communications, 
										Retail and Software Engineering. He is a Bsc. International Business Administration (Finance)
										degree holder and is a Certified Lean Six Sigma Black Belt (LSSBB) Professional. He can be attributed 
										with several notable achievements such as; implementing a black belt project for an Amazon 
										facility, winning the 2012 International Emmy award for interweaving multi-media content & leading Neverest LLC 
										in building Africa's first fully automated vehicle automation SAAS enterprise Software. He also 
										volunteers for Code for San Francisco as a backend engineer.
									</p>
									<p class="mb-30">Hobbies and Interests: Running like a Kenyan, Soccer, Yoga, Hiking, Driving, Gaming.</p>

									<button><span> <a href="https://drive.google.com/file/d/16xFt2moccu0PYGZUCfpnHURE5JjqWEz7/view?usp=sharing" target="_blank">  <i class="fa fa-download" aria-hidden="true"></i></span>  Resume</button> 
									<button><span> <a href="#contact">Contact Me</a> </i></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="clear-fix"></div>

				<!-- services -->
				<div id="services" class="services section-padding">
					<div class="container">

						<!-- section header -->
						<div class="section-head text-center">
							<h5 class="tit">#NoHumanIsLtd</h5>
						</div>

						<div class="row">

							<!-- services items -->
							<div class="serv-row">
								<div class="col-md-4">
									<div class="serv-item">
										<span>01</span>
										<h6>Front-end</h6>
										<p> <ol>
												<li>CSS</li>
												<li>HTML5</li>
												<li>Java Script</li>
										</ol></p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="serv-item">
										<span>02</span>
										<h6>Back-end</h6>
										<p> <ul>
												<li>Python</li>
												<li>C / D</li>
												<li>Unix/Linux</li>
												<li>Test Driven Development (TDD)</li>
												<li>MySql/ PostgreSql</li>
												<li>Regex</li>
												<li>Perl</li>
										</ul></p>
									</div>
								</div>

								<div class="col-md-4">
									<div class="serv-item">
										<span>03</span>
										<h6>Tech Stack</h6>
										<p><ul>
												<li>Google Cloud Platform (GCP)</li>
												<li>Docker</li>
												<li>Sublime/ VS/ Vim</li>
												<li>RevDeBug</li>
												<li>Django</li>
												<li>Flask</li>
												<li>Zoho Suite</li>
												<li>Digital Ocean</li>
												<li>Git</li>
												<li>Postman Client</li>
										</ul></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">

						<!-- skills -->
						<div class="skills">
							<div class="col-md-6">
								<div class="hero-progress">
									<div class="progress-item">
										<p>FRONT-END <span class="pull-right">75%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="90%"></span></div>
									</div>

									<div class="progress-item">
										<p>BACK-END <span class="pull-right">85%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="80%"></span></div>
									</div>

									<div class="progress-item">
										<p>BUSINESS LOGIC<span class="pull-right">95%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="85%"></span></div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="hero-progress">

									<div class="progress-item">
										<p>LEAN SIX SIGMA - OPERATIONS<span class="pull-right">75%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="80%"></span></div>
									</div>

									<div class="progress-item">
										<p>BEHAVIOR CHANGE COMMUNICATION<span class="pull-right">95%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="85%"></span></div>
									</div>

									<div class="progress-item">
										<p>PRODUCT MANAGEMENT<span class="pull-right">90%</span></p>
										<div class="progress-main"><span class="progress-bar"  data-value="80%"></span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ====== End hero ======  -->

			<!--====== Portfolio ======-->
			<section id="portfolio" class="portfolio section-padding">

				<div class="container">
					
				<!-- section header -->
				<div class="section-head text-center">
					<h5 class="tit">Time is Valuable</h5>
				</div>
				<div class="row">

					<!-- filter links -->
					<div class="filtering text-center mb-50">
						<span data-filter='*' class="active">All</span>
						<span data-filter='.brand'>Career Growth</span>
						<span data-filter='.web'>Still Growing</span>
						<span data-filter='.photo'>Education</span>
					</div>

					<!-- gallery -->
					<div class="gallery text-center">

						<!-- gallery item -->
						<div class="col-md-4 item-img photo">
							<img src="{%static 'img/portfolio/1.jpg' %}" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="{%static 'img/portfolio/1.jpg' %}"><span class="icon-scope"></span></a>
									<h5>Knowledge</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img web">
							<img src="{%static 'img/portfolio/2new.jpg' %}" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="{%static 'img/portfolio/2new.jpg' %}"><span class="icon-scope"></span></a>
									<h5>2011 - 2020</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img brand">
							<img src="{%static 'img/portfolio/3.jpg' %}" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="{%static 'img/portfolio/3.jpg' %}"><span class="icon-scope"></span></a>
									<h5>2000 - 2010</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img photo">
							<img src="{%static 'img/portfolio/4.jpg' %}" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="{%static 'img/portfolio/4.jpg' %}"><span class="icon-scope"></span></a>
									<h5>Knowledge</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img web">
							<img src="{%static 'img/portfolio/5new.jpg' %}" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="{%static 'img/portfolio/5new.jpg' %}"><span class="icon-scope"></span></a>
									<h5>2011 - 2020</h5>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 item-img brand">
							<img src="{%static 'img/portfolio/6.jpg' %}" alt="image">
							<div class="item-img-overlay">
								<span class="v"></span>
								<span class="x"></span>
								<div class="v-middle">
									<a href="{%static 'img/portfolio/6.jpg' %}"><span class="icon-scope"></span></a>
									<h5>2000 - 2010</h5>
								</div>
							</div>
						</div>

					</div>
				</div>
				</div>
			</section>
			<!--====== End Portfolio ======-->

			<!--====== Numbers ======-->
			<div class="numbers section-padding">
				<div class="container">
					<div class="row text-center">

						<!-- number items -->
						<div class="col-md-3 col-sm-6">
							<div class="numb-item">
								<span class="icon-happy"></span>
								<h3 class="counter">360</h3>
								<p>HAPPY DIRECT REPORTS</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="numb-item">
								<span class="icon-layers"></span>
								<h3 class="counter">46</h3>
								<p>COMPLETE PROJECTS</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="numb-item">
								<span class="icon-strategy"></span>
								<h3 class="counter">600</h3>
								<p>TOTAL #NikeRunApp MILES</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="numb-item">
								<span class="icon-trophy"></span>
								<h3 class="counter">2</h3>
								<p>INTERNATIONAL EMMY AWARDS</p>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--====== End Numbers ======-->

			<!--====== Clients ======-->
			<section id="clients" class="clients section-padding">
				<div class="container">
					<div class="row">

						<!-- clients carousel -->
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
							<div class="client-say text-center">

								<h5 class="tit mb-30">Hey, I'm just the messenger !</h5>

								<div class="owl-carousel owl-theme">

									<!-- client item -->
									<div class="client-item text-center">

										<p>"This Year wouldn't have been the same without you. Thanks for all the smiles, jokes, positivity and CEO skills..." </p>

										<h6>___ Ethan Mayer, Tel Aviv, Fullstack Software Engineer. ___</h6>
									</div>

									<!-- client item -->
									<div class="client-item text-center">

										<p>"I will never forget the fun times we had together. Thank you for your positive attitude all the time!"</p>

										<h6>___ Laura Roudge, Paris, Fullstack Software Engineer, @Deezer. ___</h6>
									</div>

									<!-- client item -->
									<div class="client-item text-center">

										<p>"Focused and dedicated individual."</p>

										<h6>___ Brian Nyamu, Washington, CEO @Pure Genius Pictures. ___</h6>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--====== End Clients ======-->

			<!--====== Contact ======-->
			<section id="contact" class="contact section-padding">

				<!-- section header -->
				<div class="section-head text-center">
					<h5 class="tit">Say Hello !</h5>
				</div>

				<!-- form -->
				<div class="main-form">
					<div class="container">
						<div class="row">
							<!-- contact form -->
							<div class="col-md-offset-2 col-md-8">
								 <form class="form" id="contact-form" method="post">
									{% csrf_token %}
									{{ form.as_p }}
									<div class="form-actions"></div>

			                        <div class="controls">

			                            <div class="row">
			                                <div class="col-md-6">
			                                    <div class="form-group">
			                                        <input id="form_name" type="text" name="name" placeholder="Name *" required="required" data-error="Firstname is required.">
			                                        <div class="help-block with-errors"></div>
			                                    </div>
			                                </div>

			                                 <div class="col-md-6">
			                                    <div class="form-group">
			                                        <input id="form_email" type="email" name="email" placeholder="Email *" required="required" data-error="Valid email is required.">
			                                        <div class="help-block with-errors"></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="row">
			                                <div class="col-md-12">
			                                    <div class="form-group">
			                                        <input id="form_subject" type="subject" name="subject" placeholder="Subject">
			                                        <div class="help-block with-errors"></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="row">
			                                <div class="col-md-12">
			                                    <div class="form-group">
			                                        <textarea id="form_message" name="message" placeholder="Message *" rows="4" required="required" data-error="Message."></textarea>
			                                        <div class="help-block with-errors"></div>
			                                    </div>
			                                </div>
			                                <div class="col-sm-4">
			                                    <button type="submit">Send message</button>
			                                </div>
			                            </div>
			                        </div>
			                    </form>
							</div>
						</div>
					</div>
				</div>				
			</section>
			<!--====== End Contact ======-->

		</main>

		<!--====== Footer ======-->
		<footer>
			<div class="container">
				
				<div class="social-icon">
				<!--	<span> <a href="https://www.facebook.com/"> <i class="fa fa-facebook" aria-hidden="true"></i></span> -->
					<span> <a href="https://www.twitter.com/dotkoome/" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i></span>
					<span> <a href="https://www.linkedin.com/in/koomemwiti/" target="_blank"> <i class="fa fa-linkedin" aria-hidden="true"></i></span>
					<span> <a href="https://www.github.com/komerela/" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i></span>
				</div>
				

				<p>Copyright &copy; By Koome Mwiti | All Rights Reserved.</p>
			</div>
		</footer>
		<!--====== End Footer ======-->
		
		
		
		<!--====== js ======-->

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

	  	<!-- bootstrap -->
		<script src="{%static 'js/bootstrap.min.js' %}"></script>

		<!-- singlePageNav -->
		<script src="{%static 'js/jquery.singlePageNav.min.js' %}"></script>

		<!-- magnific-popup -->
		<script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>

		<!-- owl carousel -->
		<script src="{%static 'js/owl.carousel.min.js' %}"></script>

		<!-- stellar js -->
		<script src="{%static 'js/jquery.stellar.min.js' %}"></script>

      	<!-- jquery.waypoints.min js -->
      	<script src="{%static 'js/jquery.waypoints.min.js' %}"></script>

      	<!-- jquery.counterup.min js -->
      	<script src="{%static 'js/jquery.counterup.min.js' %}"></script>

      	<!-- typed js -->
      	<script src="{%static 'js/typed.js' %}"></script>

      	<!-- isotope.pkgd.min js -->
      	<script src="{%static 'js/isotope.pkgd.min.js' %}"></script>

      	<!-- jquery.mb.YTPlayer.min js -->
      	<script src="{%static 'js/jquery.mb.YTPlayer.min.js' %}"></script>

      	<!-- validator js -->
      	<script src="{%static 'js/validator.js' %}"></script>

      	<!-- custom js -->
      	<script src="{%static 'js/custom.js' %}"></script>

      	<script type="{%static 'text/javascript' %}">
    		$('.player').mb_YTPlayer();
      	</script>

	</body>
</html>
